#root-pane {
    -fx-background-color: #7C72A0;
}

.button {
    -fx-background-color: #7C72A0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-pref-width: 500;
    -fx-pref-height: 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 2, 2);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: Poppins;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
}

#home-foreground {
    -fx-background-color: #2C0E37;
}

#home-content {
    -fx-alignment: center;
    -fx-spacing: 30;
}

#home-content ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 1, 2);
}

#home-content Label {
    -fx-font-family: Poppins;
    -fx-text-fill: #F2F2F2;
    -fx-wrap-text: true;
}

#home-content VBox {
    -fx-background-color: #32DE8A;
    -fx-pref-height: 55;
    -fx-alignment: bottom-center;
}