@import "menubar-stylesheet.css";

.table-view {
    -fx-font-family: Poppins;
    -fx-font-size: 18px;
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to top, #2C0E37, #5E1A66);
}

.table-view .table-column {
    -fx-alignment: center;
    -fx-border-color: rgba(0, 0, 0, 0.07);
}

.table-view .label {
    -fx-text-fill: #F2F2F2;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-fill: #F2F2F2;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #614b80;
}

.table-row-cell:odd {
    -fx-background-color: #453164;
}

.table-row-cell:hover {
    -fx-background-color: #7C72A0;
}

.table-row-cell:focused {
    -fx-background-color: #32DE8A;
}

#overview-contents {
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-background-color: #7C72A0;
}

#overview-contents TableView {
    -fx-min-height: 700;
}

#button-box {
    -fx-alignment: center;
    -fx-spacing: 100;
}

#button-box .button {
    -fx-max-width: 250;
    -fx-background-color: #2C0E37;
}
