/* Input fields */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #F2F2F2;
}

.text-field {
    -fx-font-family: Poppins;
    -fx-font-size: 20px;
    -fx-min-height: 60px;
    -fx-background-color: #7C72A0;
    -fx-prompt-text-fill: #F2F2F2;
    -fx-text-fill: #F2F2F2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 2, 2);
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

/* Combobox options */
.combo-box {
    -fx-font-family: Poppins;
    -fx-font-size: 18px;
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.combo-box .arrow {
    -fx-background-color: #2C0E37;
}

.combo-box-popup .list-view {
    -fx-background-color: #4A3F78;
    -fx-border-color: #2C0E37;
}

.combo-box-popup .list-cell {
    -fx-padding: 10px;
    -fx-background-color: #4A3F78;
    -fx-text-fill: #F2F2F2;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #6B5DA7;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #917CDA;
    -fx-text-fill: white;
}

/* Captain checkbox options */
.check-box {
    -fx-font-family: Poppins;
    -fx-font-size: 20px;
    -fx-text-fill: #F2F2F2;
    -fx-background-color: transparent;
}

.check-box .box {
    -fx-background-color: #7C72A0;
    -fx-border-color: transparent;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 2, 2);
}

.check-box .box:hover {
    -fx-background-color: #6B5DA7;
}

.check-box:selected .box {
    -fx-background-color: #917CDA;
}

.check-box:selected .mark {
    -fx-background-color: #F2F2F2;
}

/* Button styling */
.button {
    -fx-background-color: #7C72A0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 2, 2);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: Poppins;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
}

/* Grid options for positioning*/
#root-pane {
    -fx-hgap: 25px;
    -fx-vgap: 30px;
    -fx-background-color: #2C0E37;
    -fx-alignment: center;
}

#root-pane VBox {
    -fx-spacing: 5px;
}